---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/chadellison/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 6ea15cd3df17f0f31f17305cb06b0ff2ed408601
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4905'
      X-Ratelimit-Reset:
      - '1464218454'
      Etag:
      - W/"3c1c7aa90474f213487743534fdbff7a"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - d6cfbcc7e2501536db33
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"treyx","id":9888146,"avatar_url":"https://avatars.githubusercontent.com/u/9888146?v=3","gravatar_id":"","url":"https://api.github.com/users/treyx","html_url":"https://github.com/treyx","followers_url":"https://api.github.com/users/treyx/followers","following_url":"https://api.github.com/users/treyx/following{/other_user}","gists_url":"https://api.github.com/users/treyx/gists{/gist_id}","starred_url":"https://api.github.com/users/treyx/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/treyx/subscriptions","organizations_url":"https://api.github.com/users/treyx/orgs","repos_url":"https://api.github.com/users/treyx/repos","events_url":"https://api.github.com/users/treyx/events{/privacy}","received_events_url":"https://api.github.com/users/treyx/received_events","type":"User","site_admin":false},{"login":"damwhit","id":13105577,"avatar_url":"https://avatars.githubusercontent.com/u/13105577?v=3","gravatar_id":"","url":"https://api.github.com/users/damwhit","html_url":"https://github.com/damwhit","followers_url":"https://api.github.com/users/damwhit/followers","following_url":"https://api.github.com/users/damwhit/following{/other_user}","gists_url":"https://api.github.com/users/damwhit/gists{/gist_id}","starred_url":"https://api.github.com/users/damwhit/starred{/owner}{/repo}","sub[...]
- request:
    method: get
    uri: https://api.github.com/users/chadellison/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 6ea15cd3df17f0f31f17305cb06b0ff2ed408601
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4904'
      X-Ratelimit-Reset:
   [...]
- request:
    method: get
    uri: https://api.github.com/users/chadellison/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 6ea15cd3df17f0f31f17305cb06b0ff2ed408601
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4903'
      X-Ratelimit-Reset:
      - '1464218454'
      Etag:
      - '"7007792721bef9406e4f412837647273"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - d6cfbcc7e2501536db33
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 25 May 2016 23:07:37 GMT
- request:
    method: get
    uri: https://api.github.com/users/chadellison/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 6ea15cd3df17f0f31f17305cb06b0ff2ed408601
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4902'
      X-Ratelimit-Reset:
      - '1464218454'
      Etag:
      - W/"49985484100b8c99163c910766da7042"
      Last-Modified:
      - Wed, 25 May 2016 18:01:32 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - d6cfbcc7e2501536db33
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/13648884/events?page=2>; rel="next", <https://api.github.com/user/13648884/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"4061949384","type":"CreateEvent","actor":{"id":13648884,"login":"chadellison","display_login":"chadellison","gravatar_id":"","url":"https://api.github.com/users/chadellison","avatar_url":"https://avatars.githubusercontent.com/u/13648884?"},"repo":{"id":59685932,"name":"chadellison/testing_third_party_apis","url":"https://api.github.com/repos/chadellison/testing_third_party_apis"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":null,"pusher_type":"user"},"public":true,"created_at":"2016-05-25T18:01:32Z"},{"id":"4061936696","type":"PushEvent","actor":{"id":13648884,"login":"chadellison","display_login":"chadellison","gravatar_id":"","url":"https://api.github.com/users/chadellison","avatar_url":"https://avatars.githubusercontent.com/u/13648884?"},"repo":{"id":59591575,"name":"chadellison/chaimz-curator","url":"https://api.github.com/repos/chadellison/chaimz-curator"},"payload":{"push_id":1128921983,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"595a88941857555297ca3a3bf0f149c2f53ca53b","before":"766cb50bc115f2b0feca72b90f1ad9a924841a4f","commits":[{"sha":"595a88941857555297ca3a3bf0f149c2f53ca53b","author":{"email":"chad.ellison0123@gmail.com","name":"Chad
        Ellison"},"message":"Practice api testing","distinct":true,"url":"https://api.github.com/repos/chadellison/chaimz-curator/commits/595a88941857555297ca3a3bf0f149c2f53ca53b"}]},"public":true,"created_at":"2016-05-25T17:59:08Z"},{"id":"4058330272","type":"IssuesEvent","actor":{"id":13648884,"login":"chadellison","display_login":"chadellison","gravatar_id":"","url":"https://api.github.com/users/chadellison","avatar_url":"https://avatars.githubusercontent.com/u/13648884?"},"repo":{"id":59515260,"name":"chadellison/api_curious","url":"https://api.github.com/repos/chadellison/api_curious"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/chadellison/api_curious/issues/11","repository_url":"https://api.github.com/repos/chadellison/api_curious","labels_url":"https://api.github.com/repos/chadellison/api_curious/issues/11/labels{/name}","comments_url":"https://api.github.com/repos/chadellison/api_curious/issues/11/comments","events_url":"https://api.github.com/repos/chadellison/api_curious/issues/11/events","html_url":"https://github.com/chadellison/api_curious/issues/11","id":156655700,"number":11,"title":"View
        a summary feed of recent activity from users whom I follow","user":{"login":"chadellison","id":13648884,"avatar_url":"https://avatars.githubusercontent.com/u/13648884?v=3","gravatar_id":"","url":"https://api.github.com/users/chadellison","html_url":"https://github.com/chadellison","followers_url":"https://api.github.com/users/chadellison/followers","following_url":"https://api.github.com/users/chadellison/following{/other_user}","gists_url":"https://api.github.com/users/chadellison/gists{/gist_id}","starred_url":"https://api.github.com/users/chadellison/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/chadellison/subscriptions","organizations_url":"https://api.github.com/users/chadellison/orgs","repos_url":"https://api.github.com/users/chadellison/repos","events_url":"https://api.github.com/users/chadellison/events{/privacy}","received_events_url":"https://api.github.com/users/chadellison/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2016-05-25T03:28:14Z","updated_at":"2016-05-25T03:28:14Z","closed_at":null,"body":null}},"public":true,"created_at":"2016-05-25T03:28:14Z"},{"id":"4058330153","type":"IssuesEvent","actor":{"id":13648884,"login":"chadellison","display_login":"chadellison","gravatar_id":"","url":"https://api.github.com/users/chadellison","avatar_url":"https://avatars.githubusercontent.com/u/13648884?"},"repo":{"id":59515260,"name":"chadellison/api_curious","url":"https://api.github.com/repos/chadellison/api_curious"},"payload":{"action":"closed","issue":{"url":"https://api.github.co[...]
[...]
